<!-- Toolbar -->
  <mat-toolbar class="w-full h-auto m-auto">
    <Menu>Menu</Menu>

    <a class="m-auto" href="app\app.component.html">
      <button  mat-button color='Primary'>Home</button>
    </a>

    <a class="" href="app\app.component.html">
      <button  mat-raised-button color=''>Login</button>
    </a>
  </mat-toolbar>


<div class="fundo">

  <div class="m-auto w-full testing" role="main">

    <!-- Highlight Card -->
    <div class="">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Resources -->
    <div>
      <mat-card class="m-auto h-auto w-auto">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <mat-card-title class="m-auto h-auto w-auto">
          <span class="titulo h-auto w-auto">Conheças nossos cursos</span>
        </mat-card-title>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p matCardSubtitle class="m-auto">Escolha um curso da sua preferência em diversas áreas que estão sendo ofertadas no</p>
        <p matCardSubtitle class="m-auto"> mercado de trabalho.</p>
        <p matCardSubtitle class="m-auto"> Cursos capacitados para sua realização pessoal e profissional.</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <a class="cursos">
            <img class="w-25 h-25 m-lg-5" src='assets\gestao_ti.png'>
        </a>
        <a class="cursos">
            <img class="w-25 h-25 m-lg-5" src='assets\marketing.png'>
        </a>
        <a class="cursos">
            <img class="w-25 h-25 m-lg-5" src='assets\si.png'>
        </a>

      </mat-card>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="m-auto p-auto" >

      <mat-card class="m-auto p-auto" >
        <div>
        <mat-card-title class="m-auto h-auto w-auto p-auto m-lg-5">
          <span><strong> Trabalhe Conosco </strong></span>
        </mat-card-title>

        <img class="w-25 trabCon" src="assets/venha fazer parte do nosso time.png" align="left">

        <br>
        <br>
        <mat-card-subtitle class="m-auto h-auto w-auto p-auto m-lg-5 trabCon">
          Rua Sergipe Goiania nº42069
        </mat-card-subtitle>
        <mat-card-subtitle class="m-auto h-auto w-auto p-auto m-lg-5 trabCon">
          Email: promocao@kabum.com.br
        </mat-card-subtitle>
        <mat-card-subtitle class="m-auto h-auto w-auto p-auto m-lg-5 trabCon" >
          Numero: +55 11 96648 3320
        </mat-card-subtitle>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
      </mat-card>

    </div>

    <!-- Links -->
    <div class="">

    </div>

    <!-- Footer -->
    <footer>

    </footer>

  </div>
</div>
